@charset "utf-8";
@media screen and (max-width: 768px) {
  body {
    font-size: 30%;
  }
}
.border-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Microsoft YaHei", sans-serif;
  background: #f9f9f9;
}
.header {
  padding: 0 3% 0 3%;
  background: #1d7ad9;
}
.header span {
  font-size: 1.4rem;
  color: white;
  vertical-align: middle;
  line-height: 3rem;
}
.header ul {
  list-style: none;
  margin: 0;
}
.header li {
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  color: white;
}
.header #login {
  padding: 0 3%;
  background: white;
  color: black;
}
.navigation {
  padding: 3% 8% 8% 0;
  background: #f9f9f9;
}
.navigation .nav {
  float: right;
}
.navigation .nav-pills > li + li {
  margin-left: 2rem;
}
.navigation li {
  background: white;
}
.navigation a {
  color: #999;
}
.contain {
  padding: 3% 8%;
}
.contain ul {
  list-style: none;
}
.contain .first {
  float: left;
  position: relative;
  margin-top: 3%;
  padding: 3% 0;
  border-top: 3px solid #ff7f00;
  width: 25%;
  color: #ff7f00;
  text-align: center;
  font-weight: bold;
}
.contain .circle {
  position: absolute;
  top: -20%;
  left: 40%;
  padding: 1% 4%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #ff7f00;
}
.contain .second {
  float: left;
  position: relative;
  margin-top: 3%;
  padding: 3% 0;
  border-top: 3px solid #ff7f00;
  width: 25%;
  color: #ff7f00;
  text-align: center;
  font-weight: bold;
  color: #ccc !important;
  border-top: 3px solid #cccccc !important;
}
.contain .circle1 {
  position: absolute;
  top: -20%;
  left: 40%;
  padding: 1% 4%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: white;
  background: #ff7f00;
  background: #ccc !important;
}
